.input-field .prefix.active {
  color: rgb(113, 94, 121) !important;
}

/* выбираем цвет подсветки — светло-зелёный*/

.highlight {
  background: rgb(113, 94, 121) !important;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgb(113, 94, 121) !important;
  -webkit-box-shadow: 0 1px 0 0 rgb(113, 94, 121) !important;
  box-shadow: 0 1px 0 0 rgb(113, 94, 121) !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 16px;
  color: rgb(113, 94, 121) !important;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: rgb(113, 94, 121) !important;
}

.table-header {
  font-size: 19px;
}

.elastic .hide {
  display: none;
}

mark {
  background: rgb(113, 94, 121);
}

.elastic {
  margin: 0 !important;
}

.material-icons {
  cursor: default;
}

.display {
  display: block;
}

/* *Прелоадер
*================================================== */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(228, 228, 228);
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #ffffff;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

.preloader-image {
  animation: breathing 3s ease-in-out infinite;
  position: absolute;
  top: -100%;
  left: -150%;
}

.preload-text {
  position: relative;
  text-align: center;
  font-weight: 1000;
  font-size: 20px;
  color: #000000;
}

.spinner-black,
.spinner-black-only {
  border-color: #000000;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 50%;
  }

  20% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 100%;
  }

  40% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 50%;
  }

  60% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 100%;
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 50%;
  }
}

/* * Фиксы в фреймворке
*================================================== */

.footer-button {
  min-width: 171px !important;
  margin-bottom: 5px;
}

/* * Убираем всплывающее сообщение на телефонах
*================================================== */
@media screen and (min-width: 500px) and (max-width: 599px) {
  .tap-target-wrapper.open,
  .tap-target {
    display: none !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 499px) {
  .tap-target-wrapper.open,
  .tap-target {
    display: none !important;
  }
}
